/* &display=swap&subset=cyrillic-ext") */

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap&subset=cyrillic-ext");

/* Обнуление стилей */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
   box-sizing: border-box;

}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
/* ================================ */
html,
body {
   height: 100%;
}

html {
   font-size: 16px; 
}

body {
	line-height: 1;
   font-family: "Roboto", sans-serif;
} 

.wrapper {
   min-height: 100%;
   overflow: hidden;
} 
/* ================================= */

.perspiciatis__big {
   font-size: 0;
   width: 1022px;
   margin: 0px auto;
   border: solid 1px #000000;
   margin-bottom: 30px;
}
.headline {
   width: 583px;
   margin: 0px 0px 36px 0px;
}
.headline__one {
   display: inline-block;
   width: 436px;
   vertical-align: top;
}
.top__icon {
   margin: 0px 10px 0px 0px;
   vertical-align: top;
   display: inline-block;
}
.block__title {
   width: 402px;
   font-style: normal;
   font-weight: bold;
   vertical-align: top;
   display: inline-block;
   font-size: 12px;
   line-height: 24px;
   align-items: center;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   color: #5D62B5;
}
.block__text {
   padding: 33px 0px 42px 0px;
   font-style: normal;
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;
   color: #000000;
}

.block__1 .perspiciatis__item:last-child {
   margin: 0px 0px 24px 0px;
}

.block__2 .perspiciatis__item:last-child {
   margin: 0px 0px 66px 0px;
}

.perspiciatis__item {
   display: inline-block;
   width: 324px;
   margin: 0px 24px 0px 0px;
   background: #FFFFFF;
   border-radius: 20px;
   padding: 50px 44px 50px 43px;
}
.perspiciatis__item:hover {
   filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}

.perspiciatis__icon {
   text-align: center;
   margin-bottom: 33px;
}

.perspiciatis__title {
   font-style: normal;
   font-weight: 900;
   font-size: 19px;
   line-height: 26px;
   text-align: center;
   color: #F2726F;
   margin-bottom: 20px;
}
.perspiciatis__text {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.15px;
   color: #4B4B4B;
}

.buttom {
   padding: 12px 0px;
   background: #F2726F;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 24px;
   color: #FFFFFF;
   border-radius: 8px;
   align-items: center;
   text-align: center;
   letter-spacing: 0.15px;
   text-transform: uppercase;
   width: 124px;
   margin: 0px auto;
}
/* -------------------------- */
.doggie__big {
   font-size: 0; 
   width: 1022px;
   margin: 30px auto;
   border: solid 1px #000000;
}

.doggie__headline {
   width: 583px;
   margin: 0px 0px 26px 0px;
}
.doggieheadline__one {
   display: inline-block;
   width: 436px;
   vertical-align: top;
}
.doggietop__icon {
   margin: 0px 10px 0px 0px;
   vertical-align: top;
   display: inline-block;
}
.doggieblock__title {
   width: 402px;
   font-style: normal;
   font-weight: bold;
   vertical-align: top;
   display: inline-block;
   font-size: 12px;
   line-height: 22px;
   align-items: center;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   color: #5D62B5;
}
.doggieblock__text {
   padding: 31px 0px 39px 0px;
   font-style: normal;
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;
   color: #000000;
}


.doggie__item {
   display: inline-block;
   width: 324px;
   vertical-align: top;
   margin: 0px 24px 0px 0px;
   padding: 4px 3px 0px 0px;
}
.doggie__item:last-child {
   margin-right: 0;
}

.doggie__title {
   font-style: normal;
   font-weight: 900;
   font-size: 19px;
   line-height: 26px;
   color: #F2726F;
   margin: 0px 0px 20px 0px;
}
.doggie__text {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.15px;
   color: #4B4B4B;
}
.doggie__icon {
   display: inline-block;
   width: 86px;
   height: 63px;
   vertical-align: top;
}
.doggie__body {
   display: inline-block;
   width: 235px;
   vertical-align: top;
}
/* -------------------------------- */
.image {
   display: inline-block;
   margin: 0px 210px -230px 1032px;
   border-radius: 40px;
   overflow: hidden;
   
}
.voluptatem {
   font-size: 0; 
   width: 1442px;
   margin: 30px auto;
   border: solid 1px #000000;
   background: #29C3BE;
   color: #FFFFFF;
   font-style: normal;
}

.voluptatem__headline {
   width: 411px;
   margin: 112px 0px 79px 210px;
}
.voluptatemheadline__top {
   display: inline-block;
   vertical-align: top;
   margin: 0px 0px 25px 0px;
   
}
.voluptatemtop__icon {
   margin: 0px 16px 0px 0px;
}
.voluptatemtop__title {
   display: inline-block;
   font-weight: bold;
   font-size: 12px;
   line-height: 24px;
   align-items: center;
   letter-spacing: 2.5px;
   text-transform: uppercase;
}
.voluptatemtop__text {
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;
}
/* ------------ */
.content {
   margin: 0px 0px 212px 210px;
}
.content__block-1 {
   width: 237px;
   display: inline-block;
   margin: 0px 24px 0px 0px;
}
.content__block-1:last-child {
   margin-right: 0;
}
.content__icon {
   display: inline-block;
   vertical-align: top;
   margin: 0px 11px 0px 0px;
}
.content__text {
   display: inline-block;
}
.content__text-title {
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;
}
.content__text-text {
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.15px;
   color: #5D62B5;
}

















