/* &display=swap&subset=cyrillic-ext") */

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap&subset=cyrillic-ext");


/* Обнуление стилей */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
   box-sizing: border-box;

}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
/* ================================ */
html,
body {
   height: 100%;
}

html {
   font-size: 16px; 
}

body {
	line-height: 1;
   font-family: 'Roboto', sans-serif;
} 

.wrapper {
   min-height: 100%;
   overflow: hidden;
} 
/* ================================= */
/* DZ */
.container__image {
   display: inline-block;
   margin: 0px 210px -230px 1032px;
   border-radius: 40px;
   overflow: hidden;
}
.container__body {
   font-size: 0; 
   width: 1442px;
   margin: 30px auto;
   border: solid 1px #000000;
   background: #29C3BE;
   color: #FFFFFF;
   font-style: normal;
}

.container__header {
   width: 411px;
   margin: 112px 0px 79px 210px;
}
.container__title {
   display: inline-block;
   vertical-align: top;
   margin: 0px 0px 25px 0px;
   
}
.container__title__icon {
   margin: 0px 16px 0px 0px;
}
.container__title__text {
   display: inline-block;
   font-weight: bold;
   font-size: 12px;
   line-height: 24px;
   align-items: center;
   letter-spacing: 2.5px;
   text-transform: uppercase;
}
.container__sub-title {
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;
}
/* ------------ */
.container__row {
   margin: 0px 0px 212px 210px;
}
.container__block {
   width: 237px;
   display: inline-block;
   margin: 0px 24px 0px 0px;
}
.container__block:last-child {
   margin-right: 0;
}
.item-container__icon {
   display: inline-block;
   vertical-align: top;
   margin: 0px 11px 0px 0px;
}
.item-container__block {
   display: inline-block;
}

.item-container__title {
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;
}
.item-container__text {
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.15px;
   color: #5D62B5;
}




































